<p style="color: green"><%= notice %></p>

<h1>Cargos</h1>

<%= link_to "Nuevo Cargo", new_position_path %>

<table class="table">
  <thead>
    <tr>
      <th>Cargo</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @positions.each do |position| %>
    <tr>
      <td><%= position.name %></td>
      <td><%= link_to "Ver", position %></td>
    </tr>
  <% end %>
  </tbody>
</table>
