<div id="<%= dom_id wine %>">
  <p>
    <strong>Brand:</strong>
    <%= wine.brand %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= wine.category %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= wine.color %>
  </p>

  <p>
    <strong>%:</strong>
  </p>

</div>
